.main-cont-auto(style={width:'100%'})
    p.about-title
        strong 兑吧-用户积分运营服务平台
    p.about-info.m16-20 杭州兑吧网络科技有限公司是一家致力于帮助互联网企业提升运营效率的用户运营服务平台，包含两大核心业务——积分商城管理工具、活动配置工具。兑吧承诺其提供的运营工具将永久免费。
    .about-map-cont.clearfix
        .about-tab.clearfix
            span 公司地址：
            ul
                li.active 杭州
                li 北京
                li 上海
            .cl
        .map-cont.clearfix
            div
                iframe#content(width='604',height='381',frameborder='0',scrolling='no',marginheight='0',marginwidth='0',src='http://map.sogou.com/card/index+s=604,381&p=1000&m=001&d=148758811012768142.html#')
            div
                iframe#content(width='604',height='381',frameborder='0',scrolling='no',marginheight='0',marginwidth='0',src='http://map.sogou.com/card/index+s=604,381&p=1000&m=go2map&d=148758853912768156.html#')
            div
                iframe#content(width='604',height='381',frameborder='0',scrolling='no',marginheight='0',marginwidth='0',src='http://map.sogou.com/card/index+s=604,381&p=1000&m=go2map&d=148758865312768158.html#')
        .cl
    .address-select.clearfix
        div
            strong 杭州总部
            p 西湖区文一西路98号数娱大厦7楼702室
        div
            strong 北京分公司
            p 东城区东直门银座写字楼9c
        div
            strong 上海分公司
            p 长宁区协和路787号D北203
        .cl
            
