.footer
    .container
        .clearfix
            .contect
                div
                    - var q1 = '2850393288';
                    - var q2 = '2851653863';
                    - var q3 = '2851653867';
                    - var p1 = '15980802756';
                    - var p2 = '0571-28258687';
                    - var email = 'leah@duiba.com.cn';
                    h2 开发者接入
                    p
                        i.qq
                        =q1
                    p
                        i.phone
                        =p1
                div
                    h2 开发者支持
                    p
                        i.qq
                        =q2
                    p
                        i.phone
                        =p2
                div
                    h2 广告主合作
                    p
                        i.qq
                        =q3
                    p
                        i.email
                        =email
            .cl
        .smartNav
            div
                a(href="/function.html") 产品中心
                a(href="/docs.html") 技术文档
                a(href="/dload.html") 下载中心
                a(href="/joinUs.html") 加入我们
                a(href="/about.html") 关于我们
                a(href="/link.html") 友情链接
                a(href="/agreement.html") 服务协议
                p 浙ICP备14017299号-2
