div.header
    h1.logo
        a(href="http://www.duiba.com.cn/")
            i.logo-img    
            span(style={"margin-left": "5px"})   用户运营服务平台

    div.nav-wrapper
        ul.nav
            li
                a.nav-item(href="http://www.duiba.com.cn/" data-index="0") 首页
            li
                a.nav-item(href="/function.html" data-index="1") 功能
            li
                a.nav-item(href="/docs.html" data-index="2") 文档
            li
                a.nav-item(href="/about.html" data-index="3") 资讯
        div.nav-border(style="left:283px;")
    div.login-area
        a.btn-register(href="http://hd.dlp.duiba.com.cn/login#!/signup") 注册
        a.btn-login(href="http://hd.dlp.duiba.com.cn/login") 登录
