doctype
html(lang=config.language)
    head
        include head
    body(style={background:'#f5f8fb'})
        include duibanav
        .wrap
            include duibatab
            main.container
                block container
            footer
                block pagination
        block duibafooter
        include scripts
